h1 {
    text-align: center;
    background-color: #0668ad;
    color: #fff;
}

#registro {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(180deg, #2d5496, #313a4a);
}

#registro input,
#registro textarea {
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
    padding: 5px 10px;
}

#registro input,
#registro button {
    height: 30px;
}

#registro button{
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

.alert {
  display: none;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

/*spinner*/
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    display: none;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
